
/*
*
* MAIN CONTENT SECTION
*
*/

.wrapper-full{

  width: 100%;
  max-width: 100%;
  padding-left: 250px;
  overflow: hidden;
  margin: 0 !important;
  background-color: $basic-white;

}

.crx-content{

  #our-story{

    padding-top: 0;

    .top-section{
      background-image: url(../../images/background-images/section-backgrounds-our-story.jpg);
      background-position: center;
      background-size: cover;
      text-align: center;
    }

    .bottom-section{

      background-color: $basic-white;

      .col-md-6{
        padding-left: 32px;
        padding-right: 32px;
       }

       .ambers-section,
       .dathans-section{
         float: left;
         width: 100%;
         height: auto;
         padding-top: 45px;
         padding-bottom: 85px;
         min-height: 1080px;
       }

    }/*END .BUTTOM-SECTION*/

  }/*END #OUR-STORY*/

  #bridal-party{
    padding-left: 15px;
    padding-right: 15px;

    .bridesmaid-bio{
      text-align: center;

      h4{
        text-transform: uppercase;
      }

    }

  }

}
