/*MAIN WEBSITE COLORS*/

$blush-pink: #ebb3a9;
$thulian-pink: #e87ea1;
$onyx-black: #2a2b2a;
$basic-white: #eaeaea;

/*MAIN FONT TYPES*/
/*DOUBLE CHECK THESE!*/

$display-font: "Merriweather Sans, sans-serif";
$normal-font: 'Open Sans', sans-serif;

/*RESPONSIVE*/

$small-mobile: 320px;
$medium-phone: 480px;
$tablet: 768px;
$small-desktop: 992px;
$normal-desktop: 1170px;
